@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import '~bootstrap/scss/bootstrap';


.App {
  text-align: center;
  font-family: 'Balsamiq Sans', cursive;
  background-image: url('../img/blue-paint-unsplash.jpg');
	background-position: center;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  
  h1 {
    font-size: 4rem;
    margin: 3%;
  }
}